/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3";

$green: #a5ddc2;
$softgreen: #ACE7CD;
$darkgreen: #5EA27D;
$dullgreen: #9ECCB4;
$salmon: #EDA19E;
$darksalmon: #D06C6A;

body {
    background-color: white;
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: $darkgreen;
}

a:hover {
    text-decoration: underline;
}

header {
    font-weight: bold;
    color: #333;
    text-transform:uppercase;
    padding-left: 1em;
    background: transparent url('../img/background/squairy_light.png');
}    

section {
    padding: 1em 10%;
}

section p {
    padding: 0.5em 0em;
}

section:hover header {
    background: url('../img/background/squairy_light.png');
    color: #FFF;
    border-bottom: 14px solid $green;
    border-right: 10px solid white;
    border-left: 20px solid transparent;
    border-top: 14px solid $green;
    font-size: 1.3em;
    line-height: 0;
}

.tara-title {
    font-style:italic;
    font-weight: 600;
    font-size: 1.7em;
}

.sidebar {
    width: 40%;
    height: 100%;
    padding-top: 1px;
    position: fixed;
    background-color: #21122E;
    background: #21122E url('../img/grass_illustration.jpg') no-repeat center;
    @include background-size(cover);
}

.main-panel {
    width: 60%;
    padding: 2% 0;
    float: right;
    font-weight: 400;
    font-size: 0.8em;
    line-height: 1.5em;
}

.logo {
    margin-top: 22px;
    color: #647B8A;
    font-size: 1.5em;
    font-weight: bold;
    width: 100%;
    height: 50%;
    background: url('../img/tabularasa_logo.png') no-repeat top;
    background-size: 85%;
}

.nav-links {
    text-align: center;
    margin: auto;
    padding: 0;
    font-size: 14px;
}

.nav-links > li {
    display: inline;
    margin-left: 10px;
}

.clear {
    clear: both;
}

.main-content {
    padding: 1% 3%;
    font-weight: 100;
}

#mc_embed_signup {
    background: url('../img/background/squairy_light.png');
    padding: 5px;
    font:14px Helvetica,Arial,sans-serif;
}

#mc_embed_signup form {
    background: $green;
    color: white;
    margin: 5px;
    border: 5px solid transparent;
}

#mc_embed_signup .mc-field-group {
    padding-bottom: 1% !important;
}

#mc_embed_signup h2 {
    margin: 0px !important;
}

#mc_embed_signup p {
    margin: 0 0 5px;
    font-style: italic;
}

#mc_embed_signup .button {
    margin-bottom:0 !important;
}

/* ------------------------ For screen sizes < 768 ------------------------ */
.top-panel {
    width: 100%;
    height: 100%;
    padding-top: 1px;
    background-color: #21122E;
    background: #21122E url('../img/grass_illustration.jpg') no-repeat center;
    background-size: cover;
}

.main-panel-below {
    padding: 2% 0 0;
    letter-spacing: 0.07em;
    font-size: 1em;
    line-height: 1.5em;
    padding: 2% 0 0;
    
    section {
        padding: 1em 10% 0;
    }
    
    section:hover header {
        font-size: 1.1em;
    }
    
    #mc_embed_signup {
        padding: 10px 0 10px;
    }
    
    #mc_embed_signup form {
        margin: 0;
    }
    
    .form-panel {
        padding: 0;
    }
}

/* ------------------------------------------------------------------------ */
