@font-face {
    font-family: OldBlock;
    src: url('fonts/OBGB.ttf' format('truetype'));
    
}

body {
    background-color: white;
    color: #4F606C;
    font-family: OldBlock, Helvetica, sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    color: #647B8A;
}

a {
    text-decoration: none;
    color: #a5ddc2;
}

.sidebar {
    width: 40%;
    height: 100%;
    padding-top: 1px;
    position: fixed;
    background: url('../img/illustration_new.jpg') no-repeat center;
    background-size: cover;
    text-align: center;
}

/* For small screen sizes */
.top-panel {
    width: 100%;
    height: 100%;
    padding-top: 1px;
    background: url('../img/illustration_new.jpg') no-repeat center;
    background-size: cover;
    text-align: center;
}

.main-panel {
    width: 46%;
    float: right;
    padding: 2% 7%;
    font-weight: 100;
    font-size: 1.1em;
    line-height: 1.5em;
    text-align: center;
}

.main-panel-below {
    padding: 2% 7%;
    font-weight: 100;
    font-size: 1.1em;
    line-height: 1.5em;
    text-align: center;
}

.header {
    padding: 0 0 2em;
}

.logo {
    margin-top: 22px;
    color: #647B8A;
    font-size: 1.5em;
    font-weight: bold;
    width: 100%;
    height: 50%;
    background: url('../img/tabularasa_logo.png') no-repeat top;
    background-size: 85%;
}

.nav-links {
    text-align: center;
    margin: auto;
    padding: 0;
    font-size: 14px;
}

.nav-links > li {
    display: inline;
    margin-left: 10px;
}

.clear {
    clear: both;
}

.main-content {
    padding: 1% 3%;
    font-weight: 100;
}

#mc_embed_signup {
    background: #a5ddc2;
    font: 14px Helvetica,Arial,sans-serif; 
}